.header-container {
    position:sticky;
    top: 0;
    
    color: var(--primary-foreground);
    background-color: var(--primary);
    box-shadow: 0 2px var(--border);
    transform: translateY(-2px);

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    overflow: hidden;
    z-index: 2;
}

.header-logo {
    color: var(--secondary);
    justify-self: flex-start;
    display: flex;
    gap: 1rem;
    align-items: center;
    text-wrap: nowrap;
}

.header-logo:hover {
    color: var(--secondary-alternative);
}

.header-breadcrumbs > ol > li > a {
    color: var(--secondary);
    text-decoration: none;
    font-size: 0.75rem
}

.header-breadcrumbs > ol > li > a:hover {
    color: var(--secondary-alternative);
}

.header-title {
    width: 30%;
    text-align: center;
    text-decoration: solid;
    text-decoration-color: white;
    font-size: 30px;
    margin: 0 auto 0 auto;

    overflow: hidden;
    text-wrap-mode: nowrap;
    text-overflow: ellipsis;
}

.header-user-details {
    width: 40%;

}

@media screen and (max-width: 768px) {
    .header-logo > h5 {
        display: none;
    }

    .header-breadcrumbs {
        display: none;
    }
}