.auth-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 300px;
    margin: 50px 15% 0 15%;

    outline: 4px solid black;
    border-radius: 4px;
    background-color: #f2f2b6;

    min-width: 400px;
    overflow:auto
}


.form-container {
    display: flex;
    flex-direction: column;
    margin: 50px 0 50px 0;

    flex-grow: 1;
    gap: 40px; 
}

.form-field {
    display: flex;
    justify-content: right;
    margin: 0 50px 0 0;
}

.form-field > label {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-between;
    width: 90%;
}

.form-field > label > input {
    outline: 2px solid black;
    width: 80%;

}

.form-footer {
    display: flex;
    justify-content: space-evenly;
}

.form-footer > * {
    border: 0px;
    outline: 2px solid black;
    color: black;
    background-color: white;
    width: 100px;
    text-align: center;
    cursor: pointer;
}