.organization-loading {
    font-size: 25ch;
    background-color: yellow;
    width: auto;
    margin: 10% 0 auto 0;

    text-align: center;
}

.organization-container {
    display: flex;
    background-color: red;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-evenly;
    margin: 16px auto 0 auto;
}

.organization-component {
    display: flex;
    flex-direction: column;
    background-color: pink;
    flex-basis: 400px;
    outline: 2px solid black;
    text-align: center;
}

.organization-component-buttons {
    display: flex;
    margin: 0 0 4px 0;
    justify-content: space-evenly;
}