#root {
    background-color: #000000;
    color: white;
    text-align: center;
}

.box {
    background-color: yellow;
    color: black;
    height: 200px;
    width: 200px;
    text-align: center ;
}