.header-container {
    position: sticky;
    top: 0;
    
    color: var(--primary-foreground);
    background-color: var(--primary);
    box-shadow: 0 2px var(--border);
    transform: translateY(-2px);

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    overflow: hidden;
}

.header-logo {
    color: var(--secondary);
    justify-self: flex-start;
    display: flex;
    gap: 1rem;
    align-items: center;
    text-wrap: nowrap;
}

.header-logo:hover {
    color: #646cff;
}

.header-title {
    text-decoration: solid;
    text-decoration-color: white;
    font-size: 30px;
    margin: 0 auto 0 auto;
}

.header-user-details {
    width: 220px;
    flex-shrink: 0;

}