.nav-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 3rem;
    max-width: 9rem;
    height: calc(100vh - 3rem);
    transition: 250ms;
    background-color: var(--sidebar);
    box-shadow: 2px 0 var(--border);
    z-index: 2;
}

.nav-menu.active {
    width: 9rem;
    transition: 250ms;
    background-color: var(--sidebar);
}

.nav-menu-item,
.nav-menu-item.active {
    align-self: center;

    display: flex;
    background-color: var(--sidebar-foreground);

    /* Substract width by padding-left */
    width: 2.6rem;
    padding-left: 0.40rem;

    height: 4rem;
    gap: 0.5rem;
    overflow-x: hidden;

    justify-content: left;
    align-items: center;
    transition: 250ms;
}

.nav-menu-item.active {
    /* Substract width by padding-left */
    width: 8.6rem;
    transition: 250ms;
}

.nav-menu-item.selected {
    background-color: var(--sidebar-ring);
}

.nav-menu-item:hover {
    cursor: pointer;
    background-color: var(--sidebar-foreground-hover);
}