.notifications-table {
    margin: 2rem 0;
    width: 100%;

    border-collapse: collapse;
    border-radius: 1rem;
    outline: 1px solid var(--border);
    background-color: var(--card);
}   



.notifications-table-header {
    height: 3rem;
    border-bottom: 1px solid var(--border);
}

.notifications-table-row > td {
    height: 2rem;
    padding: 0 2rem;
}

.notifications-table-body > .notifications-table-row > td {
    border-top: 1px solid var(--border);
}